html
	head
		title= "title"
	body
		h1= "root page"
		hr
		h2= "Campains list"
		ul
			each item in data
				li
					a= item.name + "/"
					a= item.active === undefined ? "disabled" : !item.active ? "disabled" : "enabled"
					form(action='/view/campain/'+item._id)
						button(type='submit') Edit campain

		form(action='/view/custom/crateCampain')
			button(type='submit') Create new campain

