html
	head
		title= "create new campain"
		block scripts
			script(src='/www/validator.js')
	body
		a(href='javascript:history.back()')= "<< Go back"
		h2= error
		hr
		h2= "crete new compain"
		hr
		form(action='/api/campain' method='post' onsubmit='return checkEmptyFields(["name"])')
			|Name
			input(name='name')
			br
			br
			button(type='submit') Create new campain

