html
	head
		title= "create new banner"		
		block scripts
			script(src='/www/validator.js')
	body
		a(href='javascript:history.back()')= "<< Go back"

		h2= error
		hr
		h2= "crete new banner"
		hr
		form(action='/api/campain/'+id+'/banner' method='post' onsubmit='return checkEmptyFields(["name","options"])')
			|Name
			input(name='name')
			br
			|Settings (options)
			input(name='options')
			br
			br
			button(type='submit') Create new banner

