html
	head
		title= "Banner edit page"
		block scripts
			script(src='/www/validator.js')
	body
		a(href='/view/campain/'+campainId)= "Go campain"
		br
		a(href='/view/campain')= "Go campains list"
		hr
		h3= params ? params.notifyMessage : undefined
		h2= "Banner editor: " + _id
		hr
		p= "Campain:" + campainName
		p= "Created:" + creationDate
		hr
		form(action='/api/campain/'+campainId+'/banner/' + _id method='post' onsubmit='return checkEmptyFields(["name","options"])')
			|Banner name
			input(name='name' value=name)
			br
			input(name='active' type='checkbox' checked=active disabled=!campainActive)
			|Status (enabled/disabled)
			br
			|Options
			input(name='options' value=options)
			br
			br
			button(type='submit') Update banner
