html
	head
		title= "create new campain"
		block scripts
			script(src='/www/validator.js')
	body
		a(href='/view/campain')= "Go campains list"
		hr
		a(href='/api/campain/'+_id+'/randomBanner' target='_testRandomBanner_')= "Test API function for random banner"
		hr
		h4= params ? params.notifyMessage : undefined

		h2= "Campain editor: " + _id
		hr
		p= "Created: " + creationDate
		form(action='/api/campain/'+_id method='post' onsubmit='return checkEmptyFields(["name"])')
			|Campain name
			input(name='name' value=name)
			br
			input(name='active' type='checkbox' checked=active )
			|Status (enabled/disabled)
			br
			br
			input(name='error' type='hidden' value='campain was updated')
			button(type='submit') Update campain
			hr

		h2= "Campain banners"

		ul
			if banners 
				each banner in banners
					li
						a= banner.name+"/"
						a= banner.active === undefined ? "disabled" : !banner.active ? "disabled" : "enabled"
						form(action='/view/campain/'+_id+'/banner/'+banner._id)
							button(type='submit') Edit banner
		hr
		form(action='/view/custom/crateBanner')
			input(name='id' value=_id type='hidden')
			button(type='submit') Create new banner
